* {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
   border: 1px rgb(255, 0, 170) solid;
   width: 10rem;
   height: 18rem;
   margin: 1rem auto;
   padding: 0.5rem;
   box-shadow: 0.1rem 0.5rem 1rem 0.1rem rgb(151, 0, 113);
}

img {
    width: 9.5rem;
    margin: 0.2rem;
    height: 7.5rem;
}

p {
    margin: 0.8rem 0.2rem 0.2rem 0.2rem;
}

button {
    background-color: rgb(255, 180, 215);
    color: rgb(0, 0, 0);
    border: none;
    padding: .5rem 1.5rem;
}

button:hover{
    background-color:rgb(255, 0, 170); 
}